<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit User</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(#1845ad, #23a2f6);
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient(to right, #ff512f, #f09819);
            right: -30px;
            bottom: -80px;
        }

        form {
            height: auto;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        input {
            display: block;
            height: 25px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 40px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 12px 0;
            font-size: 15px;
            font-weight: 400;
            border-radius: 3px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #eaf0fb;
            text-align: center;
        }

        .social div:hover {
            background-color: rgba(255, 255, 255, 0.47);
        }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

        select {
            color: #080710;
        }

        option {
            color: #080710;
        }

        label {
            display: block;
            font-size: 10px;
            font-weight: 300;
        }
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="editUserForm" action="/admin/edit-user" method="post" enctype="multipart/form-data">
        <h3>Edit User</h3>

        <label for="">Username</label>
        <input type="text" name="username" placeholder="Username" id="username" onblur="validateUsername()" value="{{user.username}}">
        <span id="usernameError" style="color: red;"></span>
         
         <label for="">Email</label>
        <input type="text" name="email" placeholder="Email" id="email" onblur="validateEmail(this.value)" value="{{user.email}}">
        <span id="emailError" style="color: red;"></span>
         
         <label for="">First Name</label>
        <input type="text" name="fname" placeholder="First Name" value="{{user.fname}}">
        <span id="fnameError" style="color: red;"></span>
          
          <label for="">Last Name</label>
        <input type="text" name="lname" placeholder="Last Name" value="{{user.lname}}">
        <span id="lnameError" style="color: red;"></span>
         
         <label for="">Mobile Number</label>
        <input type="text" name="mobileNumber" placeholder="Mobile Number" id="mobileNumber" onblur="validateMobileNumber(this.value)" value="{{user.mobileNumber}}">
        <span id="mobileNumberError" style="color: red;"></span>
        
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password" id="password" onblur="validatePassword(this.value)" value="{{user.password}}">
        <span id="passwordErrors" style="color: red;"></span>

        <input type="hidden" name="userId" value="{{user._id}}">


        <button type="submit">Edit User</button>
    </form>

    <script>
        let exist=0
        async function validateUsername() {
            const username = document.getElementById("username").value;
            const usernameError = document.getElementById("usernameError");

            try {
                const response = await fetch("/admin/UserExist", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username,userId:'{{user._id}}' })
                });

                const data = await response.json();

                if (data.exists) {
                    usernameError.textContent = "Username already exists.";
                    document.getElementById("username").style.border = "1px solid red";
                    exist=1
                } else {
                    usernameError.textContent = "";
                    document.getElementById("username").style.border = "1px solid #ccc";
                    exist=0
                }
            } catch (error) {
                console.error("Error validating username:", error);
            }
        }

        async function validateEmail(email) {
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const emailInput = document.getElementById("email");
            const emailError = document.getElementById("emailError");

            if (!emailPattern.test(email)) {
                emailInput.style.border = "1px solid red";
                emailError.textContent = "Please enter a valid email address";
                return;
            }

            try {
                const response = await fetch("/admin/UserExist", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email,userId:'{{user._id}}' })
                });

                const data = await response.json();

                if (data.exists) {
                    emailInput.style.border = "1px solid red";
                    emailError.textContent = "Email already exists.";
                    exist=1
                } else {
                    emailInput.style.border = "1px solid #ccc";
                    emailError.textContent = "";
                    exist=0
                }
            } catch (error) {
                console.error("Error validating email:", error);
            }
        }

        async function validateMobileNumber(mobileNumber) {
            const mobileNumberPattern = /^\d{10}$/;
            const mobileNumberInput = document.getElementById("mobileNumber");
            const mobileNumberError = document.getElementById("mobileNumberError");

            if (!mobileNumberPattern.test(mobileNumber)) {
                mobileNumberError.textContent = "Mobile number must have exactly 10 digits and contain no alphabet or symbols.";
                mobileNumberInput.style.border = "1px solid red";
                return;
            }

            try {
                const response = await fetch("/admin/UserExist", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ mobileNumber,userId:'{{user._id}}'})
                });

                const data = await response.json();

                if (data.exists) {
                    mobileNumberInput.style.border = "1px solid red";
                    mobileNumberError.textContent = "Mobile number already exists.";
                    exist=1
                } else {
                    mobileNumberInput.style.border = "1px solid #ccc";
                    mobileNumberError.textContent = "";
                    exist=0
                }
            } catch (error) {
                console.error("Error validating mobile number:", error);
            }
        }

        function validatePassword(password) {
            const passwordInput = document.getElementById("password");
            const passwordErrors = document.getElementById("passwordErrors");

            // Reset error messages
            passwordErrors.innerHTML = "";

            // Check length
            if (password.length < 8) {
                passwordErrors.innerHTML += "Password must have at least 8 characters";
            }

            // Check for at least one digit
            if (!/\d/.test(password)) {
                passwordErrors.innerHTML += ", and contain at least one digit";
            }

            // Check for at least one uppercase letter
            if (!/[A-Z]/.test(password)) {
                passwordErrors.innerHTML += ", one uppercase letter";
            }

            // Check for at least one symbol
            if (!/[^a-zA-Z0-9]/.test(password)) {
                passwordErrors.innerHTML += ", one symbol<br>";
            }

            // If there are errors, display them and set border color to red
            if (passwordErrors.innerHTML !== "") {
                passwordInput.style.border = "1px solid red";
            } else {
                // If no errors, reset border color
                passwordInput.style.border = "1px solid #ccc";
            }
        }

        document.getElementById("editUserForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            // Additional validation before submission if necessary
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const fname = document.querySelector("input[name='fname']").value;
            const lname = document.querySelector("input[name='lname']").value;
            const mobileNumber = document.getElementById("mobileNumber").value;
            const password = document.getElementById("password").value;

            let isValid = true;

            if (!username) {
                document.getElementById("usernameError").textContent = "Username is required.";
                isValid = false;
            }

            if (!email) {
                document.getElementById("emailError").textContent = "Email is required.";
                isValid = false;
            }

            if (!fname) {
                document.getElementById("fnameError").textContent = "First Name is required.";
                isValid = false;
            }

            if (!lname) {
                document.getElementById("lnameError").textContent = "Last Name is required.";
                isValid = false;
            }

            if (!mobileNumber) {
                document.getElementById("mobileNumberError").textContent = "Mobile Number is required.";
                isValid = false;
            }

            if (!password) {
                document.getElementById("passwordErrors").textContent = "Password is required.";
                isValid = false;
            }

            if (isValid) {
                if(exist==0){
          document.getElementById("editUserForm").submit();
        }else{
          event.preventDefault()
        }   
                }
        });
    </script>
</body>
</html>