<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admin Dashboard</title>
    <style>
        body {
            margin: 0%;
            padding: 0%;
        }

        .content {
            display: flex;
            flex-direction: column;
        }

        #aPanel {
            width: 100%;
            display: flex;
            height: 5%;
            justify-content: center;
            margin: 0;
        }

        #aPanel2 {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: row;
        }

        .dashboard-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #949494;
            width: 12%;
        }

        .nav-link {
            color: black;
            margin-left: 10%;
        }

        #so {
            margin-top: 100%;
            font-size: large;
            font-weight: 500;
        }

        .aPanel2-r {
            width: 90%;
        }

        .aPanel2-l {
            width: 10%;
            background-color: #949494;
        }

        .nav-item {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .nav-link.btn.btn-success {
            width: 100%;
        }

        .row {
            display: flex;
            align-self: center;
        }

        .img {
            width: 100px;
            height: 100px;
        }

        .btn .btn-danger {
            width: 100%;
        }

        .btn .btn-danger {
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <div id="aPanel">
                <h3>User Control</h3>
            </div>
            <div class="row mt-3">
                <a href="/admin/addUser" class="btn btn-success">Add Users</a>
            </div>

            <div id="aPanel2">
                <div class="aPanel2-l">
                    <div class="dashboard-menu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/user" class="nav-link btn-success">Users</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin/product">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/category">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/orders">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signout" id="so">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="aPanel2-r">
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th scope="col">index</th>
                                <th scope="col">Username</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Email</th>
                                <th scope="col">Admin/User</th>
                                <th scope="col">Verified/Not</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Block</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{this.username}}</td>
                                <td>{{this.fname}} {{this.lname}}</td>
                                <td><img class="mx-auto d-block img-fluid img-thumbnail" style="width: 7rem"
                                        src="/userImages/{{this.image}}"></td>
                                <td>{{this.email}}</td>
                                <td>{{#if this.is_admin}}Admin{{else}}User{{/if}}</td>
                                <td>{{#if this.is_verified}}Verified{{else}}Not Verified{{/if}}</td>
                                <td>
                                    <a href="/admin/edit-user?id={{this._id}}" class="btn btn-primary">Edit</a>
                                </td>
                                <td>
                                    {{#if this.is_blocked}}{{else}}
                                    <a href="/admin/block-user?id={{this._id}}" class="btn btn-danger"
                                        onclick="return confirm('Are You want to Block {{this.username}}?')">Block</a>
                                    {{/if}}
                                    {{#if this.is_blocked}}
                                    <a href="/admin/unblock-user?id={{this._id}}" class="btn btn-success"
                                        onclick="return confirm('Are You want to Unblock {{this.username}}?')">Unblock</a>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                $("#searchInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("table tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

</body>

</html>