<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cart.css">
    <style>
        .back-to-shop {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                {{#each cart}}
                {{#each this.items}}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="/productImages/{{this.productId.image.[0]}}">
                        </div>
                        <div class="col">
                            <div class="row text-muted">{{this.productId.pname}}</div>
                            <div class="row">{{this.productId.category}} </a></div>
                        </div>
                        <div class="col">
                            <a href="/decrementItem?id={{this._id}}">-</a></a>{{this.quantity}}</a><a
                                href="/incrementItem?id={{this._id}}">+</a>

                            {{#if lessProduct}} <p>Product quantity must be Atleast One</p>
                            {{/if}}
                        </div>
                        <div class="col">{{this.price}} ₹<a href="deleteCart?id={{this.productId._id}}"
                                class="close">&#10005;</a></div>
                    </div>
                </div>

                {{/each}}
                {{/each}}
                {{#if noProduct}}
                <h1>No Product</h1>
                {{/if}}

                <div class="back-to-shop"><a href="/shop">&leftarrow; Back to shop</a>
                </div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Price:</h6>
                    <div style="float: right;">
                        {{#each cart}}
                        <h6 style="display: inline;"><b>{{this.totalPrice}}</b></h6>
                        {{/each}}
                    </div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    {{#if expensive}}
                    <p>Your Order Value is above 2000,So,You are eligible for free delivery</p>
                    {{else}}
                    <p>Your Order Value is below 2000,So,You have to pay 50₹ as delivery charge</p>
                    {{/if}}

                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>

                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Amount has to be paid:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{totalAmount}}</b></h6>
                    </div>
                </div>
                <div style="text-align: center;">
                    <a href="/checkout"
                        style="color: rgb(0, 0, 0); background-color: rgb(226, 226, 76); padding: 10px 20px; border-radius: 5px; text-decoration: none;">CHECKOUT</a>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        async function increase(event, productId) {
            event.preventDefault();
            window.location.href = '/';
            fetch(`/incrementItem?id=${productId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.outOfStock) {
                            successMessage();
                        } else {
                            successMessage();

                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                }
        function successMessage() {
                        Swal.fire({
                            text: 'Product successfully added to cart',
                            icon: 'success',
                            confirmButtonText: 'OK',
                            customClass: {
                                title: 'text-success',
                                popup: 'swal2-popup-custom',
                                confirmButton: 'btn btn-success'
                            },
                            showCancelButton: false,
                            showCloseButton: true,
                            showLoaderOnConfirm: false,
                            timer: 3000
                        });
                    }
    </script>
</body>

</html>