<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cart.css">
    <style>
        .back-to-shop {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                    </div>
                </div>

                {{#each cart}}
                {{#each this.items}}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{this.productId.image.[0]}}">
                        </div>
                        <div class="col">
                            <div class="row text-muted">{{this.productId.pname}}</div>
                            <div class="row">{{this.productId.category}} </a></div>
                        </div>
                        <div class="col">
                            <button id="decrement-button" data-id="{{this._id}}" data-proid="{{this.productId._id}}">-</button></a><span>    {{this.quantity}}    </span></a>
                            <button id="increment-button" data-id="{{this._id}}" data-proid="{{this.productId._id}}">+</button>

                            {{#if lessProduct}} <p>Product quantity must be Atleast One</p>
                            {{/if}}
                        </div>
                        <div class="col">{{this.price}} ₹<a href="deleteCart?id={{this.productId._id}}"
                                class="close">&#10005;</a></div>
                    </div>
                </div>

                {{/each}}
                {{/each}}
                {{#if noProduct}}
                <h1>No Product</h1>
                {{/if}}

                <div class="back-to-shop"><a href="/shop">&leftarrow; Back to shop</a>
                </div>
            </div>
            <div class="col-md-4 summary">
                {{#if noProduct}}
                
                {{else}}
                
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <form action="/checkout" method="post">
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Price:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{totalPriceBeforeOffer}} ₹</b></h6>
                        
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Discount:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: green;"><b>{{offerDiscount}} ₹</b></h6>
                        <input type="hidden" name="discount" value="{{offerDiscount}}">
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Discounted Price:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{totalPrice}} ₹</b></h6>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">GST:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: red;"><b>{{gst}} ₹</b></h6>
                        <input type="hidden" name="gst" value="{{gst}}">
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Price Including GST</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{totalPriceIncGst}} ₹</b></h6>
                        <input type="hidden" name="totalPriceIncludingGst" value="{{totalPriceIncGst}}">
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Shipping Charge:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: red;"><b>{{shippingCharge}} ₹</b></h6>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Amount has to be paid:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{totalAmountPay}} ₹</b></h6>
                        <input type="hidden" name="totalAmountPay" value="{{totalAmountPay}}">
                    </div>
                </div>
                {{!-- <div style="text-align: center;margin-top: 20%;">
                    <a href="/checkout"
                        style="color: rgb(0, 0, 0); background-color: rgb(226, 226, 76); padding: 10px 20px; border-radius: 5px; text-decoration: none;">CHECKOUT</a>
                </div> --}}
                <div style="text-align: center;margin-top: 20%;">
                <button type="submit" style="color: rgb(0, 0, 0); background-color: rgb(226, 226, 76); padding: 10px 20px; border-radius: 5px; text-decoration: none;">CHECKOUT</button>
                </div>
                </form>
            </div>
            {{/if}}
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById('decrement-button').addEventListener('click', function() {
    const id = this.getAttribute('data-id');
    const proId = this.getAttribute('data-proid');
    const url = `/decrementItem?id=${id}&proId=${proId}`;

    fetch(url, {
        method: 'GET',
    })
    .then(response => response.json())
    .then(data => {
        if(data.success){
          window.location.reload() ;
        }else{
             Swal.fire({
                      title: 'Product Quantity',
                      text: 'Product quantity will be atleast one,Otherwise,Delete Product From Cart',
                      icon: 'error',
                      confirmButtonText: 'OK'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      window.location.reload();
                    }
                });
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

    </script>
    <script>
        document.getElementById('increment-button').addEventListener('click', function() {
    const id = this.getAttribute('data-id');
    const proId = this.getAttribute('data-proid');
    const url = `/incrementItem?id=${id}&proId=${proId}`;

    fetch(url, {
        method: 'GET', 
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.success) {
            window.location.reload();
        } else {
            Swal.fire({
                      title: 'Product Quantity',
                      text: 'Product Become Out of Stock.',
                      icon: 'error',
                      confirmButtonText: 'OK'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      window.location.reload();
                    }
                });
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
    </script>
</body>

</html>