<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Address</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(#1845ad,
                    #23a2f6);
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient(to right,
                    #ff512f,
                    #f09819);
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 600px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        label {
            margin-top: 10px;
            display: block;
            font-size: 10px;
            font-weight: 500;
        }

        input,
        select {
            display: block;
            height: 30px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 40px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 12px 0;
            font-size: 15px;
            font-weight: 400;
            border-radius: 3px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #eaf0fb;
            text-align: center;
        }

        .social div:hover {
            background-color: rgba(255, 255, 255, 0.47);
        }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

        select {
            color: #080710;
        }

        option {
            color: #080710;
        }

        .addressType {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
    <script>
        function validateForm() {
            var isValid = true;
            var fields = ["houseName", "street", "district", "state", "pincode"];
            fields.forEach(function (field) {
                var input = document.getElementsByName(field)[0];
                var errorElement = document.getElementById(field + "Error");

                if (!input.value) {
                    errorElement.textContent = "This field is required.";
                    input.style.border = "1px solid red";
                    isValid = false;
                } else {
                    errorElement.textContent = "";
                    input.style.border = "1px solid #ccc";
                }
            });

            var addressType = document.querySelector('input[name="addressType"]:checked');
            var addressTypeError = document.getElementById("addressTypeError");

            if (!addressType) {
                addressTypeError.textContent = "Please select an address type.";
                isValid = false;
            } else {
                addressTypeError.textContent = "";
            }

            return isValid;
        }
    </script>
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    {{#if checkout}}
    <form action="/editAddress?id={{address._id}}" method="post" onsubmit="return validateForm()">
        {{else}}
        <form action="/edit-address?id={{address._id}}" method="post" onsubmit="return validateForm()">
            {{/if}}

            <h3>Edit Address</h3>
            <label for="">House Name</label>
            <input type="text" name="houseName" placeholder="House Name" value="{{address.houseName}}" >
            <div id="houseNameError" class="error"></div>
            <label for="">Street Name/Location</label>
            <input type="text" name="street" placeholder="Street Name/Location" value="{{address.street}}" >
            <div id="streetError" class="error"></div>
            <label for="">District</label>
            <input type="text" name="district" placeholder="District" value="{{address.district}}">
            <div id="districtError" class="error"></div>
            <label for="">State</label>
            <input type="text" name="state" placeholder="State" value="{{address.state}}" >
            <div id="stateError" class="error"></div>
            <label for="">Pincode</label>
            <input type="text" name="pincode" placeholder="Pincode" value="{{address.pincode}}" >
            <div id="pincodeError" class="error"></div>

            <label for="addressType" style="font-size: larger;">Address Type</label>
            <div class="addressType">
                <input type="radio" name="addressType" value="Home" id="option1" {{#if (eq address.addressType "Home")}}checked{{/if}} >
                <label for="option1" style="font-size: medium;">Home</label><br>
                <input type="radio" name="addressType" value="Work" id="option2" {{#if (eq address.addressType "Work")}}checked{{/if}} >
                <label for="option2" style="font-size: medium;">Work</label>
            </div>
            <div id="addressTypeError" class="error"></div>
            <button type="submit">Edit Address</button>
        </form>
</body>

</html>