<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elegance</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/uicons-regular-rounded.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>

<body>
   <header>
        <div class="w-100 bg-1 header-pd">
            <div class="container">
                <div class="top-bar d-flex flex-wrap align-items-center justify-content-between">
                    <div class="bar-left">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa-solid fa-phone"></i> Call: +91 8714156151</a></li>
                        </ul>
                    </div>
                    <div class="bar-right">
                        <ul class="list-unstyled d-flex flex-wrap align-items-center gap-3">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            {{#if login}}
                            <li><a href="/uSignout"><i class="fa-regular fa-user"></i> Logout</a></li>
                            {{else}}
                            <li><a href="/login"><i class="fa-regular fa-user"></i> Login</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="w-100 bg-white main-pd">
            <div class="container">
                <div class="main-header row w-100 d-flex align-items-center justify-content-between">
                    <div class="menu-left col-lg-4 col-md-4 d-flex flex-nowrap align-items-center">

                        <div class="field-box position-relative">
                            <div class="search-field position-absolute">
                                <a href="#">
                                    <img src="/images/resources/search-outline.svg" alt="" width="28px" style="-webkit-transform: rotateY(180deg);
                                   -moz-transform: rotateY(180deg);
                                    -ms-transform: rotateY(180deg);
                                     -o-transform: rotateY(180deg);
                                        transform: rotateY(180deg);"></a>

                            </div>
                        </div>
                    </div>
                    <div class="menu-mid col-lg-4 col-md-4 text-lg-center">
                        <h1>Elegance</h1>
                    </div>
                    <div class="menu-right col-md-4 col-lg-4">
                        <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                            <li><a style="font-weight: 300;" href="/myProfile"><i class="fa-regular fa-user"
                                        style="transform: scale(1.4)"></i> My Profile</a></li>
                            <li><a style="font-weight: 300;" href="/myWishlist"><img src="/images/resources/icon-1.png"
                                        alt=""> My wishlist</a></li>
                            <li><a style="font-weight: 500;" href="/cart"><img src="/images/resources/icon-2.png"
                                        alt="">My Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 header-bottom d-none d-lg-block">
            <div class="container">
                <div class="border-top" style="opacity: 0.5;"></div>
                <nav class="main-navigation">
                    <ul class="main-menu list-unstyled d-flex justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="res-header w-100">
        <div class="res-topbar w-100">
            <div class="container">
                <div class="res-topbar-inner d-flex flex-wrap align-items-center justify-content-between">
                    <div class="logo">
                        <h1 class="mb-0">
                            <a href="index.html"><img src="/images/logo.webp"></a>
                        </h1>
                    </div>
                    <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                        <li class="bar">
                            <a class="responsive-menu-trigger d-inline-block" href="#" onclick="showMenu()"><i
                                    class="fi fi-rr-align-justify"></i></a>
                        </li>
                       <li><a style="font-weight: 300;" href="/myProfile"><i class="fa-regular fa-user"
                                        style="transform: scale(1.4)"></i></a></li>
                        <li><a style="font-weight: 300;" href="/myWishlist"><img src="/images/resources/icon-3.png" alt=""></a>
                        </li>
                        <li><a style="font-weight: 500;" href="/cart"><img src="/images/resources/icon-4.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav position-relative">
        <div class="nav-links" id="navLinks">
            <a href="#" class="position-absolute res-menu-close" onclick="hideMenu()">
                <i class="fa-solid fa-xmark"></i></a>
            <ul class="mobile-res list-unstyled mb-0">
               <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop </a>
                        </li>
            </ul>
        </div>
    </div>
    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-322px";
        }

    </script>
    <section>
        <div class="hero-section">
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(/images/resources/slide-1.webp);">
                        <div class="swiper-text-wrap">
                            <div class="container swiper-tl">
                                <div class="content">
                                    <div class="content-width">
                                        <div class="anime up title">Limited time only.</div>
                                        <div class="anime left subtitle">Summer<br><strong
                                                class="text-primary">sale</strong></div>
                                        <div class="anime right description">Up to 50% off</div>
                                        <div class="anime down button list-inline-item">
                                            <a class="btn btn-outline " href="#"><span>SHOP NOW <i
                                                        style="padding-left: 10px;font-size: 14px;"
                                                        class="fa-solid fa-arrow-right"></i></span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url(/images/resources/slide-2.webp);">
                        <div class="swiper-text-wrap">
                            <div class="container swiper-tl">
                                <div class="content v2">
                                    <div class="content-width v2">
                                        <div class="anime up title">Limited time only.</div>
                                        <div class="anime left subtitle">coats <span
                                                class="text-primary">&amp;</span><br>jackets</div>
                                        <div class="anime right description">Up to 50% off</div>
                                        <div class="anime down button list-inline-item">
                                            <a class="btn btn-outline " href="#"><span>SHOP NOW <i
                                                        style="padding-left: 10px;font-size: 14px;"
                                                        class="fa-solid fa-arrow-right"></i></span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {});
            </script>
        </div>
    </section>


    <div class="section-width">
        <div class="container">
            <div class="w-100 border-top" style="border-top-color: #ebebeb !important;"></div>
        </div>
    </div>



    <section>
        <div class="w-100 img-set" style="margin-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="sec-tl text-center">
                        <h1>BEST SELLER</h1>
                    </div>
                </div>
                <div class="row">
                    {{#each bestSellerProduct}}
                            {{#unless this.is_deleted}}
                            {{#if this.purchase}}
                            <div id="product" class="col-lg-3 col-md-6 col-sm-6">
                                <div class="block-product">
                                    <div class="product-thumb position-relative">
                                        <a href="/product-details?id={{this._id}}">
                                            <img id="mainImage" src="/productImages/{{this.image.[0]}}">
                                        </a>
                                        <span class="position-absolute sv">Save {{this.actualDiscount}}%</span>

                                        <span onclick="addToCart(event, '{{this._id}}')"
                                            class="ad-cart position-absolute text-center" id="add-to-cart-link">Add to
                                            Cart</span>


                                    </div>

                                    <div class="product-body text-center">
                                        <a href="#" class="brand-name" style="color: black;">{{this.pname}}</a>
                                        <h2 class="product-name">
                                            <a href="#"></a>
                                        </h2>
                                        <span class="product-price">₹{{this.discountedPrice}} <del
                                                style="color: red;">₹{{this.price}}</del></span>
                                        <div class="prd-options">
                                            <ul
                                                class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{/unless}}
                            {{/each}}

                    
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section>
        <div class="w-100 img-set" style="margin-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="sec-tl text-center">
                        <h1>RECENT ARRIVALS</h1>
                    </div>
                </div>
                <div class="row">
                    {{#each newArrival}}
                            {{#unless this.is_deleted}}
                            {{#if this.purchase}}
                            <div id="product" class="col-lg-3 col-md-6 col-sm-6">
                                <div class="block-product">
                                    <div class="product-thumb position-relative">
                                        <a href="/product-details?id={{this._id}}">
                                            <img id="mainImage" src="/productImages/{{this.image.[0]}}">
                                        </a>
                                        <span class="position-absolute sv">Save {{this.actualDiscount}}%</span>

                                        <span onclick="addToCart(event, '{{this._id}}')"
                                            class="ad-cart position-absolute text-center" id="add-to-cart-link">Add to
                                            Cart</span>


                                    </div>

                                    <div class="product-body text-center">
                                        <a href="#" class="brand-name" style="color: black;">{{this.pname}}</a>
                                        <h2 class="product-name">
                                            <a href="#"></a>
                                        </h2>
                                        <span class="product-price">₹{{this.discountedPrice}} <del
                                                style="color: red;">₹{{this.price}}</del></span>
                                        <div class="prd-options">
                                            <ul
                                                class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{/unless}}
                            {{/each}}

                    
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section>
        <div class="w-100 img-set" style="margin-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="sec-tl text-center">
                        <h1>Top Deals</h1>
                    </div>
                </div>
                <div class="row">
                    {{#each topDeal}}
                            {{#unless this.is_deleted}}
                            {{#if this.purchase}}
                            <div id="product" class="col-lg-3 col-md-6 col-sm-6">
                                <div class="block-product">
                                    <div class="product-thumb position-relative">
                                        <a href="/product-details?id={{this._id}}">
                                            <img id="mainImage" src="/productImages/{{this.image.[0]}}">
                                        </a>
                                        <span class="position-absolute sv">Save {{this.actualDiscount}}%</span>

                                        <span onclick="addToCart(event, '{{this._id}}')"
                                            class="ad-cart position-absolute text-center" id="add-to-cart-link">Add to
                                            Cart</span>


                                    </div>
                                    

                                    <div class="product-body text-center">
                                        <a href="#" class="brand-name" style="color: black;">{{this.pname}}</a>
                                        <h2 class="product-name">
                                            <a href="#"></a>
                                        </h2>
                                        <span class="product-price">₹{{this.discountedPrice}} <del
                                                style="color: red;">₹{{this.price}}</del></span>
                                        <div class="prd-options">
                                            <ul
                                                class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                               
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            {{/if}}
                            {{/unless}}
                            {{/each}}

                    
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <div class="section-width my-5">
        <div class="container">
            <div class="w-100 border-top" style="border-top-color: #ebebeb !important;"></div>
        </div>
    </div>

    <footer>
        <div class="w-100 ft-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="widget widget-about">
                            <h1 style="color: white;">Elegance</h1>
                            <p class="ft-info">Discover style and comfort at Elegance, your go-to apparel store for trendy and timeless pieces. From chic everyday wear to elegant evening outfits, we offer a curated selection for every occasion. Experience quality craftsmanship, sustainable fabrics, and personalized service. Elevate your wardrobe with Elegance—where fashion meets function.</p>
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a class="cnt-number" href="tel:+98765432">+91 8714156151</a>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <a class="payment_image" href="#">
                                            <img src="/images/resources/pay.webp" width="272" height="20">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4>
                            <ul class="widget-list list-unstyled">
                                <li>
                                    <a title="Home" href="/" itemprop="url">
                            <span>Home</span>
                        </a>
                                </li>
                                <li>
                                    <a href="/shop">Shop </a>
                                </li>
                                <li>
                                    <a style="font-weight: 300;" href="/myProfile">My Profile</a>
                                </li>
                                <li>
                                    <a style="font-weight: 500;" href="/cart">My Cart</a>
                                </li>
                                <li>
                                    <a style="font-weight: 300;" href="/myWishlist">My Wishlist</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="footer-bottom">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-auto py-1">
                            <p class="footer-copyright m-0">Copyright © 2019 Elegance Store. All Rights Reserved.</p>
                            <ul class="footer-menu list-unstyled">
                                <li>
                                    <a href="#">Terms / Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-auto py-1">
                            <div class="socials d-flex align-items-center gap-3">
                                <span class="social-label">Social Media</span>
                                <ul class="list-unstyled d-flex align-items-center flex-wrap gap-3">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        $(document).ready(function () {
            $.get('/add-to-cart', function (data) {
                $('#reloadArea').html(data);
            });
        });
        function changeMainImage(imageSrc) {
            var mainImage = document.getElementById("mainImage");
            mainImage.src = "/productImages/" + imageSrc;
        }
        $(document).ready(function () {
            function filterProducts() {
                var value = $("#searchInput").val().toLowerCase();
                $(".row #product").each(function () {
                    var text = $(this).text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1);
                });
            }

            $("#searchInput").on("keyup", function () {
                filterProducts();
            });

            $("#searchByIdButton").on("click", function () {
                filterProducts();
                $("#searchInput").val("");
            });
        });
        function addToCart(productId) {
            console.log(productId)
        }

    </script>
    <script>
        async function addToCart(event, productId) {
            event.preventDefault();
            // Make an asynchronous request to add the product to the cart
            fetch(`/add-to-cart?id=${productId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.isProductInCart) {
                            failMessage();
                        } else if (data.notLogin) {
                            loginMessage();
                        } else {
                            successMessage();

                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error(error);
                    // Handle error if needed
                });
        }

        function successMessage() {
            Swal.fire({
                text: 'Product successfully added to cart',
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-success',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-success'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }

        function failMessage() {
            Swal.fire({
                text: 'Product Already Present in the cart ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }

        function loginMessage() {
            Swal.fire({
                text: 'You have not Logged in in Your Account ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }
    </script>
</body>

</html>