<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>User Order status</title>
    <style>
        body {
            margin: 0%;
            padding: 0%;
        }

        .content {
            display: flex;
            flex-direction: column;
        }

        #aPanel {
            width: 100%;
            display: flex;
            height: 5%;
            justify-content: center;
            margin: 0;
        }

        #aPanel2 {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: row;
        }

        .dashboard-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #949494;
            width: 12%;
        }

        .nav-link {
            color: black;
            margin-left: 10%;
        }

        #so {
            margin-top: 100%;
            font-size: large;
            font-weight: 500;
        }

        .aPanel2-r {
            width: 90%;
        }

        .aPanel2-l {
            width: 10%;
            background-color: #949494;
        }

        .nav-item {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .nav-link.btn.btn-success {
            width: 100%;
        }

        .row {
            display: flex;
            align-self: center;
        }

        .img {
            width: 100px;
            height: 100px;
        }

        .btn-danger {
            width: 100%;
        }

        .btn-success {
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <div class="content">
            <div id="aPanel">
                <h3>Order Status</h3>
            </div>

            <div id="aPanel2" style="align-items: center;">
                <div class="aPanel2-r">
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th scope="col">Order Id</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Product Quantity</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Product Detail</th>
                                <th scope="col">Cancel/Return</th>
                                <th scope="col">Reason for Cancel/Return</th>
                                <th scope="col">Repay</th>
                                <th scope="col">Invoice</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                            <tr>
                                <td>{{this.orderId}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.productQuantity}}</td>
                                {{#if this.priceAfterCoupon}}
                                    <td>{{this.priceAfterCoupon}}</td>
                                    {{else}}
                                    <td>{{this.totalAmountPay}}</td>
                                    {{/if}}
                                <td>{{this.status}}</td>
                                <td>{{this.paymentStatus}}</td>
                                <td>{{this.paymentMethod}}</td>
                                <td>
                                    <a href="/orderDetails?orderId={{this.orderId}}" class="btn btn-info">Order
                                        Details</a>
                                </td>
                                {{#if (eq this.status "Rejected")}}
                                <td></td>
                                {{else}}
                                {{#if (eq this.status "Cancelation Pending")}}
                                <td></td>
                                {{else}}
                                {{#if (eq this.status "Return Completed")}}
                                <td></td>
                                {{else}}
                                {{#if (eq this.status "Cancellation Completed")}}
                                <td></td>
                                {{else}}
                                {{#if (eq this.status "Return Pending")}}
                                <td></td>
                                {{else}}
                                {{#if (eq this.status "Delivered")}}
                                <td>
                                    <a href="#" class="btn btn-danger"
                                        onclick="confirmReturn('{{this._id}}', '{{this.orderId}}')">Return</a>
                                        </td>
                                {{else}}
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="confirmCancel('{{this._id}}', '{{this.orderId}}')">Cancel</a>
                                </td>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{#if this.reasonForCancelation}}
                                <td>{{this.reasonForCancelation}}</td>
                                {{else if this.reasonForReturn}}
                                <td>{{this.reasonForReturn}}</td>
                                {{else}}
                                <td></td>
                                {{/if}}
                                {{#if (eq this.paymentStatus "Failed")}}
                                <td>
                                    <form action="/repay" method="post" class="form">

                                            {{#if this.priceAfterCoupon}}
                                            <input type="hidden" id="totalAmountPay" name="totalAmountPay"
                                                value="{{this.priceAfterCoupon}}">
                                            {{else}}
                                            <input type="hidden" id="totalAmountPay" name="totalAmountPay"
                                                value="{{this.totalAmountPay}}">
                                            {{/if}}
                                        <input type="hidden" id="orderId" name="orderId" value="{{this.orderId}}">
                                        <button type="submit" class="btn btn-success">Repay</button>

                                    </form>
                                </td>
                                {{else}}
                                <td></td>
                                {{/if}}
                                {{#if (eq this.status "Delivered")}}
                                <td>
                                    <a href="/invoice?orderId={{this.orderId}}" class="btn btn-warning">Invoice</a>
                                </td>
                                {{else}}
                                <td></td>
                                {{/if}}
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
    function confirmCancel(orderId, displayOrderId) {
        Swal.fire({
            title: 'Are you sure?',
            text: `Do you want to cancel order ${displayOrderId}?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, cancel it!',
            input: 'textarea',  // Add a textarea input for the reason
            inputPlaceholder: 'Enter the reason for cancellation...',
            inputValidator: (value) => {
                if (!value) {
                    return 'You need to provide a reason for cancellation!';
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const reason = result.value; // Get the reason from the input

                // Display a message for confirmation
                Swal.fire({
                    title: 'Cancelling Order',
                    text: 'Your order cancellation status will be updated in 3 seconds.',
                    icon: 'success',
                    timer: 3000,
                    showConfirmButton: false,
                    willClose: () => {
                        // Send the reason to the backend
                        $.ajax({
                            url: `/cancelOrder`,
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ orderId: orderId, reason: reason }),
                            success: function(response) {
                                console.log(response);
                                window.location.href = '/orderStatus'; // Navigate to the orderStatus page
                            },
                            error: function(xhr, status, error) {
                                console.error("An error occurred while cancelling the order:", error);
                            }
                        });
                    }
                });
            }
        });
    }
</script>


        <script>
        function confirmReturn(orderId, displayOrderId) {
            Swal.fire({
                title: 'Are you sure?',
                text: `Do you want to return order ${displayOrderId}?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, return it!',
                input: 'textarea',  // Add a textarea input for the reason
                inputPlaceholder: 'Enter the reason for return...',
                inputValidator: (value) => {
                    if (!value) {
                        return 'You need to provide a reason for the return!';
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const reason = result.value; // Get the reason from the input

                    // Display a message for confirmation
                    Swal.fire({
                        title: 'Returning Order',
                        text: 'Your order return status will be updated in 3 seconds.',
                        icon: 'success',
                        timer: 3000,
                        showConfirmButton: false,
                        willClose: () => {
                            // Send the reason to the backend
                            $.ajax({
                                url: `/returnOrder`,
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ orderId: orderId, reason: reason }),
                                success: function(response) {
                                    console.log(response);
                                    window.location.href = '/orderStatus'; // Navigate to the orderStatus page
                                },
                                error: function(xhr, status, error) {
                                    console.error("An error occurred while returning the order:", error);
                                }
                            });
                        }
                    });
                }
            });
        }
    </script>
        <script>
            $(document).ready(function () {
                $(".form").submit(function (e) {
                    e.preventDefault();
                    console.log("Form submitted");
                    var formData = $(this).serialize();
                    var totalAmountPay = document.getElementById("totalAmountPay").value
                    var orderId = document.getElementById("orderId").value

                    $.ajax({
                        url: "/repayOrder",
                        type: "POST",
                        data: formData,
                        success: function (res) {
                            console.log("Server response:", res);
                            if (res.success) {
                                var options = {
                                    "key": res.key_id,
                                    "amount": res.amount,
                                    "currency": "INR",
                                    "order_id": res.orderId,
                                    "handler": function (response) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Payment Successful',
                                            text: 'Your payment has been processed successfully.',
                                            confirmButtonText: 'OK'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = `/repay?paid=1&orderId=${orderId}`
                                            }
                                        });
                                        console.log("Payment response:", response);
                                    }
                                };
                                var razorpayObject = new Razorpay(options);
                                razorpayObject.on('payment.failed', function (response) {
                                    window.location.href = `/repay?paid=0&orderId=${orderId}`
                                    console.log("Payment failed response:", response);
                                });
                                razorpayObject.open();

                            } else {
                                alert(res.msg);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("An error occurred: " + error);
                            console.error("AJAX error:", error);
                        }
                    });
                });
            });
        </script>
</body>

</html>
