<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cart.css">
    <style>
        .back-to-shop {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Order Details</b></h4>
                        </div>
                    </div>
                </div>

                
                {{#each order.items}}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{this.productId.image.[0]}}">
                        </div>
                        <div class="col">
                            <div class="row text-muted">{{this.productId.pname}}</div>
                            <div class="row">{{this.productId.category}} </a></div>
                        </div>
                        <div class="col">
                           </a>{{this.quantity}}</a>
                        </div>
						<div class="col">
                           </a>{{this.productId.price}}</a>
                        </div>
						<div class="col">
                           </a>{{this.priceBeforeOffer}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
                

                <div class="back-to-shop" style="display: none;"><a href="/shop">&leftarrow; Back to shop</a>
                </div>
            </div>
            <div class="col-md-4 summary">
                
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <form action="/checkout" method="post">
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Total Price:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{order.totalPrice}} ₹</b></h6>
                        
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Discount:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: green;"><b>{{order.discount}} ₹</b></h6>
                    </div>
                </div>
				 <div style="overflow: hidden;">
                    <h6 style="float: left;">Coupon Discount:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: green;"><b>{{order.couponDiscount}} ₹</b></h6>
                    </div>
                </div>
				 <div style="overflow: hidden;">
                    <h6 style="float: left;">GST:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: red;"><b>{{order.gst}} ₹</b></h6>
                    </div>
                </div>
				<div style="overflow: hidden;">
                    <h6 style="float: left;">Shipping Charge:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;color: red;"><b>{{order.shippingCharge}} ₹</b></h6>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <h6 style="float: left;">Tota Amount Has to Pay:</h6>
                    <div style="float: right;">
                        <h6 style="display: inline;"><b>{{order.totalAmountPay}} ₹</b></h6>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
</body>

</html>