<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elegance</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/uicons-regular-rounded.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        #star:hover {
            color: brown;
        }

        #mainImage:hover {
            transform: scale(1.20)
        }

        .rate {
            display: flex;
            cursor: pointer;
        }

        .rate .fa-star {
            font-size: 2em;
            color: grey;
        }

        .rate .fa-star.on {
            color: gold;
        }

        .comment-section {
            margin-top: 10px;
            width: 100%;
        }

        .comment-section textarea {
            width: 100%;
            height: 80px;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
        }

        .comment-section button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        .comment-section button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <header>
        <div class="w-100 bg-1 header-pd">
            <div class="container">
                <div class="top-bar d-flex flex-wrap align-items-center justify-content-between">
                    <div class="bar-left">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa-solid fa-phone"></i> Call: +91 8714156151</a></li>
                        </ul>
                    </div>
                    <div class="bar-right">
                        <ul class="list-unstyled d-flex flex-wrap align-items-center gap-3">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            {{#if login}}
                            <li><a href="/uSignout"><i class="fa-regular fa-user"></i> Logout</a></li>
                            {{else}}
                            <li><a href="/login"><i class="fa-regular fa-user"></i> Login</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="w-100 bg-white main-pd">
            <div class="container">
                <div class="main-header row w-100 d-flex align-items-center justify-content-between">
                    <div class="menu-left col-lg-4 col-md-4 d-flex flex-nowrap align-items-center">

                        <div class="field-box position-relative">
                            <div class="search-field position-absolute">
                                <a href="#">
                                    <img src="/images/resources/search-outline.svg" alt="" width="28px" style="-webkit-transform: rotateY(180deg);
                                   -moz-transform: rotateY(180deg);
                                    -ms-transform: rotateY(180deg);
                                     -o-transform: rotateY(180deg);
                                        transform: rotateY(180deg);"></a>

                            </div>
                        </div>
                    </div>
                    <div class="menu-mid col-lg-4 col-md-4 text-lg-center">
                        <h1>Elegance</h1>
                    </div>
                    <div class="menu-right col-md-4 col-lg-4">
                        <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                            <li><a style="font-weight: 300;" href="/myProfile"><i class="fa-regular fa-user"
                                        style="transform: scale(1.4)"></i> My Profile</a></li>
                            <li><a style="font-weight: 300;" href="/myWishlist"><img src="/images/resources/icon-1.png"
                                        alt=""> My wishlist</a></li>
                            <li><a style="font-weight: 500;" href="/cart"><img src="/images/resources/icon-2.png"
                                        alt="">My Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 header-bottom d-none d-lg-block">
            <div class="container">
                <div class="border-top" style="opacity: 0.5;"></div>
                <nav class="main-navigation">
                    <ul class="main-menu list-unstyled d-flex justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="res-header w-100">
        <div class="res-topbar w-100">
            <div class="container">
                <div class="res-topbar-inner d-flex flex-wrap align-items-center justify-content-between">
                    <div class="logo">
                        <h1 class="mb-0">
                            Elegance
                        </h1>
                    </div>
                    <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                        <li class="bar">
                            <a class="responsive-menu-trigger d-inline-block" href="#" onclick="showMenu()"><i
                                    class="fi fi-rr-align-justify"></i></a>
                        </li>
                       <li><a style="font-weight: 300;" href="/myProfile"><i class="fa-regular fa-user"
                                        style="transform: scale(1.4)"></i></a></li>
                        <li><a style="font-weight: 300;" href="/myWishlist"><img src="/images/resources/icon-3.png" alt=""></a>
                        </li>
                        <li><a style="font-weight: 500;" href="/cart"><img src="/images/resources/icon-4.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav position-relative">
        <div class="nav-links" id="navLinks">
            <a href="#" class="position-absolute res-menu-close" onclick="hideMenu()">
                <i class="fa-solid fa-xmark"></i></a>
            <ul class="mobile-res list-unstyled mb-0">
               <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop </a>
                        </li>
            </ul>
        </div>
    </div>
    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-322px";
        }

    </script>

    <div class="border-top" style="opacity: .3;"></div>
    <div class="container">
        <div class="breadcrumbs row align-items-center justify-content-between d-flex">
            <div class="col-12">
                <ul class="breadcrumbs_content list-unstyled d-flex justify-content-center">
                    <li class="home">
                        <a title="Home" href="/" itemprop="url">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-angle-right"></i> shop</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-angle-right"></i> Product-Detail</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="border-top mb-2" style="opacity: .3;"></div>

    <section>
        <div class="w-100 pt-4 position-relative">
            <div class="container">

                <div class="product-detail position-relative w-100">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-lg-6">

                            <div class="product-detail-imgs position-relative w-100">


                                <ul class="product-detail-img-nav list-unstyled mb-0">
                                    {{#each product.image}}
                                    <li style="display:block;">

                                        <div class="product-detail-mini-img overflow-hidden active">
                                            <a href="#" onclick="changeMainImage('{{this}}')">
                                                <img class="img-fluid w-100" src="{{this}}">
                                            </a>
                                            <!--mini-img-->
                                        </div>
                                    </li>
                                    {{/each}}


                                </ul>

                                <div class="big-img" style="margin-left: 15%;">
                                    <img id="mainImage" src="{{product.image.[0]}}" style="width: 50%;">
                                </div>

                                <!--product-detail-imgs-->
                            </div>

                            <!--col-->
                        </div>


                        <div class="col-md-12 col-sm-12 col-lg-6 ">

                            <div class="product-detail-info position-relative w-100">




                                <h2 class="mb-0"><b>{{product.pname}}</b></h2>
                                <span class="d-block price">₹{{product.discountedPrice}} <del
                                        style="color: red;">₹{{product.price}}</del></span>

                                <ul class="product-stock-info list-unstyled mb-0">

                                    <li>Only {{product.purchase}} Left</li>
                                    <li>Free delivery available above purchase 2000₹</li>
                                </ul>

                                <p class="mb-0" style="color: black;"><b>Description:</b> {{product.description}}</p>

                                <div class="products-color d-flex flex-wrap align-items-center w-100">
                                    <span>Colors:</span>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Select a color</option>
                                        <option value="1">Yellow</option>
                                        <option value="1">Red</option>
                                        <option value="2">Green</option>

                                    </select>

                                    <!--products-color-->
                                </div>

                                <div class="products-size d-flex flex-wrap align-items-center w-100">

                                    <span>Size:</span>
                                    <select class="v3 form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Select a size</option>
                                        <option value="1">Large</option>
                                        <option value="1">Medium</option>
                                        <option value="2">Small</option>

                                    </select>

                                    <!--products-size-->
                                </div>


                                <div class="product-bottom d-flex flex-wrap align-items-center w-100">

                                    <div class="product-quanty">

                                        <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">


                                            <!--input-group-->
                                        </div>

                                        <!--product-quanty-->
                                    </div>
                                    <div  style="display: flex;flex-direction: column;">
                                    
                                     <button class="theme-btn bg-color1 btn btn-success"
                                        onclick="addToCart(event, '{{product._id}}')">Add to Cart

                                    </button>
                                    <button class="theme-btn bg-color1 btn btn-warning mt-3"
                                       onclick="addTowishlist(event, '{{product._id}}')">Add to Wishlist

                                    </button>
                                    </div>
                                    <!--product-bottom-->
                                </div>
                               


                                <!--porduct-detail-info-->
                            </div>
                            <!--col-->
                        </div>

                        <!--row-->
                    </div>
                    <!--product-detail-->
                </div>

                <!--container-->
            </div>
            <!--w-100-->
        </div>
    </section>

    <section style="margin-top:70px;margin-bottom:40px;">
        <div class="w-100 position-relative bg-color5 pt-70 pb-120">
            <div class="container">
                <div class="product-tabs position-relative w-100">
                    <h1 style="text-decoration: underline;">Reviews</h1>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h5 style="margin-top: 1%;">Give Your Rating</h5>
                            <div class="product-rate-review d-flex flex-wrap align-items-center">
                                <div class="rate" id="rating">
                                    <i class="fas fa-star" data-value="1"></i>
                                    <i class="fas fa-star" data-value="2"></i>
                                    <i class="fas fa-star" data-value="3"></i>
                                    <i class="fas fa-star" data-value="4"></i>
                                    <i class="fas fa-star" data-value="5"></i>
                                </div>

                                <!-- Comment Input Field -->
                                <span class="comment-section" style="display: flex;flex-direction: column;">
                                    <textarea id="comment" style="background-color: burlywood;width: 30%;"
                                        placeholder="Write your comment here..."></textarea>
                                    <button id="submit-review" style="width: 10%;">Submit</button>
                                </span>
                            </div>
                            <h5 style="margin-top: 1%;text-decoration: underline;">Other's Rating</h5>
                            <div id="reviews-container">
                                <!-- Reviews will be appended here -->
                            </div>

                        </div>

                        <!--porduct-tabs-->
                    </div>

                    <!--container-->
                </div>
                <!--w-100-->
            </div>
    </section>

    <section>
        <div class="w-100 img-set" style="margin-top:60px;margin-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="sec-tl text-center">
                        <h1>Product You May Like</h1>
                    </div>
                </div>
                <div class="row">
                    {{#each suggestedProducts}}
                    {{#unless this.is_deleted}}
                    {{#if this.purchase}}
                    <div id="product" class="col-lg-3 col-md-6 col-sm-6">
                        <div class="block-product">
                            <div class="product-thumb position-relative">
                                <a href="/product-details?id={{this._id}}">
                                    <img src="/productImages/{{this.image.[0]}}">
                                </a>
                                <span class="position-absolute sv">Save {{this.actualDiscount}}%</span>

                                <span onclick="addToCart(event, '{{this._id}}')"
                                    class="ad-cart position-absolute text-center" id="add-to-cart-link">Add to
                                    Cart</span>


                            </div>

                            <div class="product-body text-center">
                                <a href="#" class="brand-name" style="color: black;">{{this.pname}}</a>
                                <h2 class="product-name">
                                    <a href="#"></a>
                                </h2>
                                <span class="product-price">₹{{this.discountedPrice}} <del
                                        style="color: red;">₹{{this.price}}</del></span>
                                <div class="prd-options">
                                    <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                        {{#each this.image}}
                                        <a href="/product-details?id={{../this._id}}">
                                            <li>
                                                <a href="#" onclick="changeMainImage('{{this}}')"><img
                                                        src="/productImages/{{this}}"></a>
                                            </li>
                                        </a>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>


    </section>


    <footer>
        <div class="w-100 ft-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="widget widget-about">
                            <h1 style="color: white;">Elegance</h1>
                            <p class="ft-info">Discover style and comfort at Elegance, your go-to apparel store for trendy and timeless pieces. From chic everyday wear to elegant evening outfits, we offer a curated selection for every occasion. Experience quality craftsmanship, sustainable fabrics, and personalized service. Elevate your wardrobe with Elegance—where fashion meets function.</p>
                            <div class="widget-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a class="cnt-number" href="tel:+98765432">+91 8714156151</a>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <a class="payment_image" href="#">
                                            <img src="/images/resources/pay.webp" width="272" height="20">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4>
                            <ul class="widget-list list-unstyled">
                                <li>
                                    <a title="Home" href="/" itemprop="url">
                            <span>Home</span>
                        </a>
                                </li>
                                <li>
                                    <a href="/shop">Shop </a>
                                </li>
                                <li>
                                    <a style="font-weight: 300;" href="/myProfile">My Profile</a>
                                </li>
                                <li>
                                    <a style="font-weight: 500;" href="/cart">My Cart</a>
                                </li>
                                <li>
                                    <a style="font-weight: 300;" href="/myWishlist">My Wishlist</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="footer-bottom">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-auto py-1">
                            <p class="footer-copyright m-0">Copyright © 2019 Elegance Store. All Rights Reserved.</p>
                            <ul class="footer-menu list-unstyled">
                                <li>
                                    <a href="#">Terms / Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-auto py-1">
                            <div class="socials d-flex align-items-center gap-3">
                                <span class="social-label">Social Media</span>
                                <ul class="list-unstyled d-flex align-items-center flex-wrap gap-3">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function changeMainImage(imageSrc) {
            var mainImage = document.getElementById("mainImage");
            mainImage.src = "/productImages/" + imageSrc;
        }
    </script>
    <script>
        async function addToCart(event, productId) {
            event.preventDefault();

            // Show success message
            successMessage();

            // Make an asynchronous request to add the product to the cart
            fetch(`/add-to-cart?id=${productId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.isProductInCart) {
                            failMessage();
                        } else if (data.notLogin) {
                            loginMessage();
                        } else {
                            successMessage();

                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error(error);
                    // Handle error if needed
                });
        }

        function successMessage() {
            Swal.fire({
                text: 'Product successfully added to cart',
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-success',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-success'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }

        function failMessage() {
            Swal.fire({
                text: 'Product Already Present in the cart ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }
        function loginMessage() {
            Swal.fire({
                text: 'You have not Logged in in Your Account ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }
    </script>
    <script>
        async function addTowishlist(event, productId) {
            event.preventDefault();

            // Show success message


            // Make an asynchronous request to add the product to the cart
            fetch(`/addWishlist?id=${productId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.isProductInWishlist) {
                            failMessages();
                        } else if (data.notLogin) {
                            loginMessages();
                        } else {
                            successMessages();

                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error(error);
                    // Handle error if needed
                });
        }

        function successMessages() {
            Swal.fire({
                text: 'Product successfully added to Wishlist',
                icon: 'success',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-success',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-success'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }

        function failMessages() {
            Swal.fire({
                text: 'Product Already Present in the Wishlist ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }
        function loginMessages() {
            Swal.fire({
                text: 'You have not Logged in in Your Account ',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    title: 'text-danger',
                    popup: 'swal2-popup-custom',
                    confirmButton: 'btn btn-danger'
                },
                showCancelButton: false,
                showCloseButton: true,
                showLoaderOnConfirm: false,
                timer: 3000
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const stars = document.querySelectorAll('.rate .fa-star');
            const submitButton = document.getElementById('submit-review');
            let selectedRating = 0;

            stars.forEach(star => {
                star.addEventListener('click', setRating);
                star.addEventListener('mouseover', addHover);
                star.addEventListener('mouseout', removeHover);
            });

            submitButton.addEventListener('click', submitReview);

            function setRating(event) {
                const value = event.target.getAttribute('data-value');
                selectedRating = value;
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= value) {
                        star.classList.add('on');
                    } else {
                        star.classList.remove('on');
                    }
                });
            }

            function addHover(event) {
                const value = event.target.getAttribute('data-value');
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= value) {
                        star.classList.add('on');
                    } else {
                        star.classList.remove('on');
                    }
                });
            }

            function removeHover(event) {
                stars.forEach(star => {
                    star.classList.remove('on');
                });
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= selectedRating) {
                        star.classList.add('on');
                    }
                });
            }

            function submitReview() {
                const comment = document.getElementById('comment').value;
                if (selectedRating > 0 && comment) {
                    // Send the rating and comment to the backend
                    fetch('/rate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            rating: selectedRating,
                            comment: comment,
                            productId: '{{product._id}}'
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            if (data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thank you!',
                                    text: 'Thank you for your review!',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                });

                            } else if (data.notLoggedIn) {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Not Logged In',
                                    text: 'You need to be logged in to submit a review.',
                                });
                            } else if (data.alreadyExist) {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Already Rated',
                                    text: 'You have already rated for this product.',
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong. Please try again.',
                                });
                            }
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'An error occurred while submitting your review. Please try again.',
                            });
                        });
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Incomplete',
                        text: 'Please select a rating and write a comment.',
                    });
                }
            }
        });
    </script>
    <script>
        function fetchReviews() {
            fetch(`/reviews?productId={{product._id}}`) // Replace with the actual product ID
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const reviewsContainer = document.getElementById('reviews-container');
                        reviewsContainer.innerHTML = ''; // Clear the container
                        data.reviews.forEach(review => {
                            const reviewElement = document.createElement('div');
                            reviewElement.className = 'review';
                            reviewElement.innerHTML = `
                                <div class="stars">${generateStars(review.rating)}</div>
                                <p>${review.comment}</p>
                                <small>Reviewed by: ${review.userId.fname} ${review.userId.lname}</small>
                            `;
                            reviewsContainer.appendChild(reviewElement);
                        });
                    } else {
                        console.error('Error fetching reviews:', data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function generateStars(rating) {
            let starsHtml = '';
            for (let i = 1; i <= 5; i++) {
                if (i <= rating) {
                    starsHtml += '<i class="fas fa-star"></i>';
                } else {
                    starsHtml += '<i class="far fa-star"></i>';
                }
            }
            return starsHtml;
        }

        // Fetch reviews on page load
        fetchReviews();
    </script>
</body>

</html>